<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top shadow">

    <div class="container-fluid">

        <a class="navbar-brand fw-bold" href="/">
            🛠 Admin Panel
        </a>

        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div
            class="collapse navbar-collapse"
            id="navbarNav"
        >

            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a class="nav-link" href="/">
                        Dashboard
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/addproduct">
                        Products
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/addcategory">
                        Categories
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/addcollection">
                        Collections
                    </a>
                </li>

                <li class="nav-item">
                    <a
                        class="btn btn-danger ms-md-3 mt-2 mt-md-0"
                        href="/logout"
                    >
                        Logout
                    </a>
                </li>

            </ul>

        </div>

    </div>

</nav>