<nav>

    <h1>
        Admin Panel
    </h1>

    <ul>

        <li>
            <a href="/">
                Home
            </a>
        </li>

        <li>
            <a href="/addcollection">
                Add Collection
            </a>
        </li>

        <li>
            <a href="/addproduct">
                Add Product
            </a>
        </li>

        <li>
            <a href="/addcategory">
                Add Category
            </a>
        </li>

        <li>
            <a href="/logout">
                Logout
            </a>
        </li>

    </ul>

</nav>