<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Add Collection</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <style>
  body{font-family:Arial,sans-serif;padding:30px;background:#f7f7f7} 
  .box{max-width:600px;margin:auto;background:#fff;padding:20px;border-radius:8px}
  label {
      display: block;
      margin-top: 15px;
      margin-bottom: 5px;
    }

    input,
    select {
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
    }

    button {
      margin-top: 20px;
      padding: 10px 20px;
      cursor: pointer;
    }

  </style>
</head>
<body>
  <div class="box">
    <h1>Add Collection</h1>
    <form action="/collection" method="POST">
      <label>Name</label>
      <input type="text" name="name" required />

      <label>Slug (optional)</label>
      <input type="text" name="slug" />

      <label>Image</label>
      <input type="text" name="image" />

      <br/><br/>
      <button class= "col-md-6 bg-light" type="submit">Create Collection</button>
    </form>
  </div>
</body>
</html>
